.leaderCheckBox > .box {
    -fx-padding: 5.7em 2.4em 4em 4em ;
    -fx-focus-color: transparent;
    -fx-box-color: transparent;
    -fx-background-color: transparent;
}
.leaderCheckBox > .box > .mark {
    -fx-padding: 11.4em 4.8em 8em 8em;
    -fx-box-color: transparent;
    -fx-mark-color: #e6ad12;
}
/*
.resourceCheckBox > .box {
    -fx-padding: 5.7em 2.4em 4em 4em ;
    -fx-focus-color: transparent;
    -fx-box-color: transparent;
    -fx-background-color: transparent;
}
.resourceCheckBox > .box > .mark {
    -fx-padding: 11.4em 4.8em 8em 8em;
    -fx-box-color: transparent;
    -fx-mark-color: #e6ad12;
}
*/

.resourceRadio > .radio {
    -fx-padding: 3em;
    -fx-background-color: transparent;
}

.resourceRadio:selected > .radio > .dot {
    -fx-background-color: #008000;
    -fx-background-radius: 30px;
    -fx-border-color: #008000;
    -fx-border-radius: 30px;
}