.label{
    -fx-font-size: 23;
    -fx-font-family: "Blackadder ITC";
    -fx-alignment: center;
}

.button{
    -fx-font-size: 23;
    -fx-font-family: "Blackadder ITC";
    -fx-alignment: center;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-style: italic;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab-pane {
    -fx-tab-min-width:120px;
}
